// fonts
$font-family-sans-serif: 'Noto Sans TC', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// theme
$primary:       #4285F4;
$secondary:     #858796;
$success:       #00C851;
$info:          #33b5e5;
$warning:       #ffbb33;
$danger:        #ff4444;
$light:         #f8f9fc;
$dark:          #5a5c69;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value, $color: $white, $hover-color: $white, $active-color: $white);
    }
}
  
@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value, $color-hover: $white, $active-color: $white);
    }
}